version: "3.8"
services:

    db:
        image: mysql
        container_name: mysql
        # restart: always
        volumes:
            - db-data:/var/lib/mysql
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        networks:
            - dev

    phpmyadmin:
        image: phpmyadmin
        container_name: phpmyadmin
        # restart: always
        depends_on:
            - db
        ports:
            - 8080:80
        environment:
            PMA_HOST: db
        networks:
            - dev

    maildev:
        image: maildev/maildev
        container_name: maildev
        command: bin/maildev --web 80 --smtp 25 --hide-extensions STARTTLS
        ports:
          - "8081:80"
        # restart: always
        networks:
            - dev

    www:
        build: docker/backend/php
        container_name: symfony
        ports:
          - "8741:80"
        volumes:
            - ./docker/backend/vhosts:/etc/apache2/sites-enabled
            - /var/www/vendor
            - ./backend:/var/www/backend
        environment:
            FRONT_URL: 'angular_docker_container:4200'
        # restart: always
        networks:
            - dev

    angular:
        build: docker/frontend/
        container_name: angular
        ports:
            - "8082:4200"
            - "49153:49153"
        volumes:
            - ./frontend:/var/www/frontend
            # - /var/www/frontend/node_modules
        links:
            - "www"
        environment:
            API_URL: 'www_docker_symfony:80/api'
        # restart: always
        depends_on:
            - www
        networks:
            - dev

networks:
    dev:

volumes:
    db-data:
    www: