version: "3.8"
services:

    db:
        image: mysql
        container_name: db_docker_symfony
        restart: always
        volumes:
            - db-data:/var/lib/mysql
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        networks:
            - dev

    phpmyadmin:
        image: phpmyadmin
        container_name: phpmyadmin_docker_symfony
        restart: always
        depends_on:
            - db
        ports:
            - 8080:80
        environment:
            PMA_HOST: db
        networks:
            - dev

    maildev:
        image: maildev/maildev
        container_name: maildev_docker_symfony
        command: bin/maildev --web 80 --smtp 25 --hide-extensions STARTTLS
        ports:
          - "8081:80"
        restart: always
        networks:
            - dev

    www:
        build: docker/backend/php
        container_name: www_docker_symfony
        ports:
          - "8741:80"
        volumes:
            - ./docker/backend/vhosts:/etc/apache2/sites-enabled
            - /var/www/vendor
            - ./backend:/var/www/backend
        restart: always
        networks:
            - dev

    angular:
        build: docker/frontend/
        container_name: angular_docker_container
        ports:
            - "8082:4200"
        volumes:
            - ./frontend:/var/www/frontend
            - /var/www/frontend/node_modules
        restart: always
        depends_on:
            - www
        networks:
            - dev

networks:
    dev:

volumes:
    db-data:
    www: