<section><div class="container h-100 p-5 text-white bg-dark rounded-3 mt-5">
    <h2 class="pb-3">Notre mission : réduire notre empreinte carbone au maximum</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur turpis sed tortor mollis, et congue erat cursus. Integer vel scelerisque ipsum, sed mollis tellus. Cras sagittis dui vel rutrum condimentum.
    <!-- <hr>  -->
        Nunc tincidunt velit nulla, eu porta urna placerat in. Quisque viverra ullamcorper turpis, ut condimentum enim rutrum sit amet. Mauris lobortis congue metus eget porttitor
    </p>
    <button class="btn btn-outline-light btn-custom border-primary color-primary" type="button">En savoir plus</button>
</div></section>